<div class="row justify-content-between mb-3">

  <div class=" d-flex col-4">
    <div class="form-outline row justify-content-between  align-items-center">
      <label class="form-label col-auto mb-0" for="form1">مبيعات التذاكر</label>
      <input type="search" id="form1" class="form-control col" />
    </div>
    <button type="button" class="btn btn-light bg-white rounded mx-3 ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M14.6666 4.83334H10.6666C10.3933 4.83334 10.1666 4.60668 10.1666 4.33334C10.1666 4.06001 10.3933 3.83334 10.6666 3.83334H14.6666C14.94 3.83334 15.1666 4.06001 15.1666 4.33334C15.1666 4.60668 14.94 4.83334 14.6666 4.83334Z"
          fill="#8B8B8B" />
        <path
          d="M3.99998 4.83334H1.33331C1.05998 4.83334 0.833313 4.60668 0.833313 4.33334C0.833313 4.06001 1.05998 3.83334 1.33331 3.83334H3.99998C4.27331 3.83334 4.49998 4.06001 4.49998 4.33334C4.49998 4.60668 4.27331 4.83334 3.99998 4.83334Z"
          fill="#8B8B8B" />
        <path
          d="M6.66665 7.16667C5.10665 7.16667 3.83331 5.89333 3.83331 4.33333C3.83331 2.77333 5.10665 1.5 6.66665 1.5C8.22665 1.5 9.49998 2.77333 9.49998 4.33333C9.49998 5.89333 8.22665 7.16667 6.66665 7.16667ZM6.66665 2.5C5.65331 2.5 4.83331 3.32 4.83331 4.33333C4.83331 5.34667 5.65331 6.16667 6.66665 6.16667C7.67998 6.16667 8.49998 5.34667 8.49998 4.33333C8.49998 3.32 7.67998 2.5 6.66665 2.5Z"
          fill="#8B8B8B" />
        <path
          d="M14.6667 12.1667H12C11.7267 12.1667 11.5 11.94 11.5 11.6667C11.5 11.3933 11.7267 11.1667 12 11.1667H14.6667C14.94 11.1667 15.1667 11.3933 15.1667 11.6667C15.1667 11.94 14.94 12.1667 14.6667 12.1667Z"
          fill="#8B8B8B" />
        <path
          d="M5.33331 12.1667H1.33331C1.05998 12.1667 0.833313 11.94 0.833313 11.6667C0.833313 11.3933 1.05998 11.1667 1.33331 11.1667H5.33331C5.60665 11.1667 5.83331 11.3933 5.83331 11.6667C5.83331 11.94 5.60665 12.1667 5.33331 12.1667Z"
          fill="#8B8B8B" />
        <path
          d="M9.33333 14.5C7.77333 14.5 6.5 13.2266 6.5 11.6666C6.5 10.1066 7.77333 8.83331 9.33333 8.83331C10.8933 8.83331 12.1667 10.1066 12.1667 11.6666C12.1667 13.2266 10.8933 14.5 9.33333 14.5ZM9.33333 9.83331C8.32 9.83331 7.5 10.6533 7.5 11.6666C7.5 12.68 8.32 13.5 9.33333 13.5C10.3467 13.5 11.1667 12.68 11.1667 11.6666C11.1667 10.6533 10.3467 9.83331 9.33333 9.83331Z"
          fill="#8B8B8B" />
      </svg>
    </button>
    <button type="button" class="btn btn-light bg-white rounded ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M9.03316 4.97998C9.15983 4.97998 9.28651 4.93333 9.38651 4.83333L11.5132 2.70667L13.6399 4.83333C13.8332 5.02667 14.1532 5.02667 14.3465 4.83333C14.5398 4.64 14.5398 4.32 14.3465 4.12667L11.8665 1.64665C11.7732 1.55331 11.6465 1.5 11.5132 1.5C11.3798 1.5 11.2532 1.55331 11.1598 1.64665L8.67985 4.12667C8.48652 4.32 8.48652 4.64 8.67985 4.83333C8.77985 4.93333 8.9065 4.97998 9.03316 4.97998Z"
          fill="#8B8B8B" />
        <path
          d="M11.5133 14.5C11.7866 14.5 12.0133 14.2733 12.0133 14V2C12.0133 1.72667 11.7866 1.5 11.5133 1.5C11.24 1.5 11.0133 1.72667 11.0133 2V14C11.0133 14.2733 11.24 14.5 11.5133 14.5Z"
          fill="#8B8B8B" />
        <path
          d="M4.47998 14.5C4.61331 14.5 4.74 14.4467 4.83333 14.3533L7.31331 11.8733C7.50665 11.68 7.50665 11.36 7.31331 11.1666C7.11998 10.9733 6.79998 10.9733 6.60665 11.1666L4.47998 13.2933L2.35335 11.1666C2.16002 10.9733 1.83998 10.9733 1.64665 11.1666C1.45331 11.36 1.45331 11.68 1.64665 11.8733L4.12667 14.3533C4.22 14.4467 4.35331 14.5 4.47998 14.5Z"
          fill="#8B8B8B" />
        <path
          d="M4.48669 14.5C4.76003 14.5 4.98669 14.2733 4.98669 14V2C4.98669 1.72667 4.76003 1.5 4.48669 1.5C4.21336 1.5 3.98669 1.72667 3.98669 2V14C3.98669 14.2733 4.20669 14.5 4.48669 14.5Z"
          fill="#8B8B8B" />
      </svg>
    </button>
  </div>

  <div class="col-md-auto d-flex align-content-center">
    <div class="form-check form-switch d-flex justify-content-between align-content-center flex-wrap px-2" dir="rtl">
      <input class="form-check-input mx-3" type="checkbox" id="flexSwitchCheckChecked" checked>
      <label for="flexSwitchCheckChecked">asda</label>
    </div>
    <button type="button" class="btn btn-primary btn-move me-3">حجز تذكرة جديدة</button>
  </div>
</div>
<div class="mb-3">

  <table class="table">
    <thead class=" ">
      <tr class=" ">
        <th scope="col" class="text-center" style="width:5%">#</th>
        <th scope="col" class="text-center" style="width:15%">المستخدم</th>
        <th scope="col" class="text-center" style="width:10%">رقم التذكرة</th>
        <th scope="col" class="text-center" style="width:10%">قيمى التذكرة </th>
        <th scope="col" class="text-center" style="width:30%">السينمات</th>
        <th scope="col" class="text-center" style="width:8%">عدد الأشخاص</th>
        <th scope="col" class="text-center" style="width:10%">عدد مرات الشراء</th>
        <th scope="col" class="text-center" style="width:15%">التذكرة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">1</th>
        <td class="text-center">
          <div class="row gx-0 justify-content-between align-items-center">
            <div class="col-3">
              <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-8">
              <p class=" mb-0 name">أحمد محمود</p>
              <p class=" mb-0 phoNum">0123456789</p>
            </div>
          </div>
        </td>
        <td class="text-center">C-101</td>
        <td class="text-center">$40</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
          العرب , برج الأطنان , سرايا القبة ...</td>
        <td class="text-center">1</td>
        <td class="text-center">مرة واحدة</td>
        <td class="text-center">تذكرة رقم 45.pdf</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">
          <div class="row gx-0 justify-content-between align-items-center">
            <div class="col-3">
              <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-8">
              <p class=" mb-0 name">أحمد محمود</p>
              <p class=" mb-0 phoNum">0123456789</p>
            </div>
          </div>
        </td>
        <td class="text-center">C-101</td>
        <td class="text-center">$40</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
          العرب , برج الأطنان , سرايا القبة ...</td>
        <td class="text-center">1</td>
        <td class="text-center">مرة واحدة</td>
        <td class="text-center">تذكرة رقم 45.pdf</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">3</th>
        <td class="text-center">
          <div class="row gx-0 justify-content-between align-items-center">
            <div class="col-3">
              <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-8">
              <p class=" mb-0 name">أحمد محمود</p>
              <p class=" mb-0 phoNum">0123456789</p>
            </div>
          </div>
        </td>
        <td class="text-center">C-101</td>
        <td class="text-center">$40</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
          العرب , برج الأطنان , سرايا القبة ...</td>
        <td class="text-center">1</td>
        <td class="text-center">مرة واحدة</td>
        <td class="text-center">تذكرة رقم 45.pdf</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">4</th>
        <td class="text-center">
          <div class="row gx-0 justify-content-between align-items-center">
            <div class="col-3">
              <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-8">
              <p class=" mb-0 name">أحمد محمود</p>
              <p class=" mb-0 phoNum">0123456789</p>
            </div>
          </div>
        </td>
        <td class="text-center">C-101</td>
        <td class="text-center">$40</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
          العرب , برج الأطنان , سرايا القبة ...</td>
        <td class="text-center">1</td>
        <td class="text-center">مرة واحدة</td>
        <td class="text-center">تذكرة رقم 45.pdf</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">5</th>
        <td class="text-center">
          <div class="row gx-0 justify-content-between align-items-center">
            <div class="col-3">
              <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
            </div>
            <div class="col-8">
              <p class=" mb-0 name">Amr</p>
              <p class=" mb-0 phoNum">0123456789</p>
            </div>
          </div>
        </td>
        <td class="text-center">C-101</td>
        <td class="text-center">$40</td>
        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
          العرب , برج الأطنان , سرايا القبة ...</td>
        <td class="text-center">1</td>
        <td class="text-center">مرة واحدة</td>
        <td class="text-center">تذكرة رقم 45.pdf</td>
      </tr>

    </tbody>
  </table>
  <div class="row justify-content-between">
    <div class="col-auto">
      <div class="dataTables_length ms-2" id="#example_length">
        <label>عرض
          <select name="#example_length" aria-controls="#example" class="mx-2">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select> من اصل 250 </label>
      </div>
    </div>
    <div class="col-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<h3 class="mt-5 mb-2 text-center">this table with funcition but not complete as full style</h3>




<table datatable class="table t row-border nowrap " id="#example">
  <thead class=" ">
    <tr class=" ">
      <th scope="col" class="text-center" style="width:5%">#</th>
      <th scope="col" class="text-center" style="width:20%">المستخدم</th>
      <th scope="col" class="text-center" style="width:18%">رقم التذكرة</th>
      <th scope="col" class="text-center" style="width:14%">قيمى التذكرة </th>
      <th scope="col" class="text-center" style="width:22%">السينمات</th>
      <th scope="col" class="text-center" style="width:14%">عدد الأشخاص</th>
      <th scope="col" class="text-center" style="width:10%">عدد مرات الشراء</th>
      <th scope="col" class="text-center" style="width:10%">التذكرة</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">4</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">5</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">Amr</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>

    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">4</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">5</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">Amr</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>

    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">4</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">5</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">Amr</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>

    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">4</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">5</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">Amr</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>

    <tr>
      <th scope="row" class="text-center">1</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">2</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">3</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">4</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">أحمد محمود</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">5</th>
      <td class="text-center">
        <div class="row gx-0 justify-content-between align-items-center">
          <div class="col-3">
            <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
          </div>
          <div class="col-8">
            <p class=" mb-0 name">Amr</p>
            <p class=" mb-0 phoNum">0123456789</p>
          </div>
        </div>
      </td>
      <td class="text-center">C-101</td>
      <td class="text-center">$40</td>
      <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">سينما مصر , مول
        العرب , برج الأطنان , سرايا القبة ...</td>
      <td class="text-center">1</td>
      <td class="text-center">مرة واحدة</td>
      <td class="text-center">تذكرة رقم 45.pdf</td>
    </tr>

  </tbody>
</table>