<table datatable   class="table t row-border display nowrap "id="#example">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">المستخدم</th>
          <th scope="col">رقم التذكرة</th>
          <th scope="col">قيمى التذكرة </th>
          <th scope="col">السينمات</th>
          <th scope="col">عدد الأشخاص</th>
          <th scope="col">عدد مرات الشراء</th>
          <th scope="col">التذكرة</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="">
            <div class="row gx-0 justify-content-between align-items-center">
              <div class="col-3">
                <img src="../../assets/imeges/avatar1.png" class="img-fluid rounded" alt="">
              </div>
              <div class="col-8">
                <p class=" mb-0 name">أحمد محمود</p>
                <p class=" mb-0 phoNum">0123456789</p>
              </div>
            </div>
          </td>
           <td>C-101</td>
          <td>$40</td>
          <td>سينما مصر , مول العرب , برج الأطنان , سرايا القبة ...</td>
          <td>1</td>
          <td>مرة واحدة</td>
          <td>تذكرة رقم 45.pdf</td>
        </tr>
         
    </tbody>
  </table>