.card{
    background-image: url(../../assets/imeges/Mask.png),url(../../assets/imeges/Subtract.png),;
    height: 100%;
    position: relative;
    &::after
    {
        content:" ";
        position: absolute;
        border-top: 0.1px dashed rgba(255, 255, 255, 0.40);;
        top: 57%;
        width: 100%;
        color: white;
        height: 0px;
    }
    .card-title
    {
        
    }
}
.input-group {
    margin-top: 30px;
    position: relative;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group-addon {
    border: none;
  }
  
  .linkname {
    display: none;
  }
  
  #copyButton {
    cursor: pointer;
    background: #f1bb3a;
  }
  
  #copyTarget {
    border-left: none;
  }
  
  .copied {
    opacity: 1;
    position: absolute;
    left: 55px;
  }
  
  @media (min-width: 768px) {
    .copied {
      left: 135px;
    }
  
    .linkname {
      display: block;
      background: #3b3e45;
      color: #fff;
    }
  }
  