<div class="container gx-0 pt-5">
    <div class="row gx-0 justify-content-between">

        <div class="col-md-8 img-839-xxl img-67-md mb-25">
            <app-ticket-chart></app-ticket-chart>

        </div>
        <div class="col-md-4  img-408-xxl img-33-md mb-25">
            <app-ticket-sales></app-ticket-sales>
        </div>
        <div class="col-12">
            <app-data-table></app-data-table>
        </div>
    </div>

    <p>
        {{"welcome"| translate}}
    </p>
    <P>xdfdsfsdfsdf </P>
</div>