<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <select class="form-select" #selectlang (change)="switchLang(selectlang.value)">
                        <option *ngFor="let language of translate.getLangs()" [value]="language"
                            [selected]="language === translate.currentLang">
                            {{language}}
                        </option>
                    </select>
                </li>
               

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
<app-ticket-chart></app-ticket-chart>
            
        </div>
        <div class="col-md-4">
            <app-ticket-sales></app-ticket-sales>
        </div>
    </div>
</div>
<p>
    {{"welcome"| translate}}
</p>
<P>xdfdsfsdfsdf </P>