.btn-back {
    border-radius: 8px;
    background: #E7EAED;
    width: 32px;
    height: 32px;
}

.num-tict {
    color: #1C1C28;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}